beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.3
click==6.7
DateTime==4.2
Flask==0.12.2
geopy==1.11.0
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.14.0
python-firebase==1.2
pytz==2017.3
requests==2.14.2
urllib3==1.22
Werkzeug==0.14.1
zope.interface==4.4.3